.report{
  display: flex;
  max-width: 600px;
  border: 1px solid #ccc;
  margin-bottom: 2px;
}
.report__text{
  flex: 1 1 100%;
  padding: 10px;
  border-right: 1px solid #ccc;
}
.report__action{
  display: flex;
  margin-left: 10px;
  flex: 0 0 100px;
  align-items: center;
  justify-content: center;
}